// variables
@color-accent: #9f173d;
@color-white: #fff;
@color-black: #000;
@color-border: #f4f4f4;

@font-text: sans-serif;
@font-fancy: cursive;
@font-title: serif;

// selectors

.main-page {
	height: 100vh;

	text-align: center;
	font-size: 50px;
	line-height: 100vh;
}

